@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/inter-v11-latin-regular.woff2') format('woff2'),
    url('../fonts/inter-v11-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/inter-v11-latin-600.woff2') format('woff2'),
    url('../fonts/inter-v11-latin-600.woff') format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/inter-v11-latin-500.woff2') format('woff2'),
    url('../fonts/inter-v11-latin-500.woff') format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/inter-v11-latin-700.woff2') format('woff2'),
    url('../fonts/inter-v11-latin-700.woff') format('woff');
}
* {
    box-sizing: border-box;
}
.container {
    width: 1150px;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", "Arial", sans-serif;
    background-color: #e7e7e7;
}
.intro-wrapper {
    display: flex;
}
.intro-start {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 12px;
}
.intro-start-wrapper {
    flex-grow: 1;
    padding-top: 55px;
    padding-left: 60px;
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-size: cover;
    background-color: #ad4141;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.intro-form {
    display: flex;
    flex-direction: column;
    
}
.intro-top-link {
    display: inline-block;
    margin-bottom: 60px;
    padding: 5px 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
    border: 1px solid #fff;
    border-radius: 41px;
}
.intro-title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #fff;
}
.intro-text {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
}
.intro-sale-link {
    padding: 29px 0;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #4dc490;
    border-radius: 0px 0px 20px 20px;
}

.intro-sale-cta{
    font-weight: 700;
}
.intro-form {
    padding: 55px 60px 40px 60px;
    background-color: #fff;
    border-radius: 20px;
}
.form-title {
    margin-top: 0;
    margin-bottom: 79px;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
}
.label{
    display: block;
    margin-bottom: 35px;
}
.password-label{
    margin-bottom: 63px;
}
.form-input {
    position: relative;
    width: 100%;
    padding-bottom: 14px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    border: none;
    outline: none;
    color: #000;
    border-bottom: 1px solid #555;
}
.form-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #555555;
}
.form-input:focus {
    border-width: 2px;
    border-color: #000;
}
.form-input[type="email"]:not(:placeholder-shown):invalid
{
    color: #f03535;
    border-color: #f03535;
}
.form-input[type="email"]:not(:placeholder-shown):invalid .email-label{
    background: #000;
}
.submit-btn {
    margin-bottom: 8px;
    padding: 20px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    background: #655af2;
    border-radius: 10px;
}
.form-terms-text {
    text-align: center;
    font-size: 11px;
    line-height: 15px;
    color: #555;
}
.terms-link {
    text-decoration: underline;
    color: #f03535;
}